/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001380;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Banner Styling */
.banner {
    width: 100%;
    background-color: rgb(0, 36, 199);
    padding: 10px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: auto;
}

.logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav h1 {
    color: white;
    font-size: 24px;
    margin-left: 10px;
    flex-grow: 1;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin-left: 15px;
}

.nav ul li a {
    color: white;
    background: -webkit-linear-gradient(0deg, transparent 50%, white 50%);
    background-size: 400px 80px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.8s;
    border-radius: 20px;
}

.nav ul li a:hover {
    background-position: 200px 0;
    color: black;
}

/* Table Styling */
table {
    width: 80%;
    margin-top: 30px;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #001380;
    color: white;
}

tr:hover {
    background-color: #f4f4f4;
}

td {
    color: black;
}

/* Back Button Styling */
.back-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

/* Footer Styling */
.footer {
    text-align: center;
    background-color: #001380;
    padding: 20px;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
    table {
        width: 100%;
    }

    .back-button {
        width: 100%;
        padding: 15px;
    }
}
